:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --card-set: 30px;
  --accent-color: #2196F3;
  --first-color: #ffffff;
  --second-color: #757575;
}

body {
  color: #212121;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto-regular.woff) format("woff"), url(../fonts/roboto-regular.woff2) format("woff2");
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-accent {
  color: var(--accent-color);
}

.footer-logo {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--first-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
  .footer-logo {
    font-size: 26px;
    line-height: 1.192;
    color: var(--first-color);
  }
}

.menu-list-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms linear;
}

.menu-list-link:hover, .menu-list-link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .menu-list-link {
    font-size: 18px;
    line-height: 1.167;
  }
}

.current {
  color: var(--accent-color);
}

.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus {
  color: var(--accent-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--first-color);
  border-radius: 50%;
  transition: background-color 250ms linear;
}

.social-list_link:hover, .social-list_link:focus {
  background-color: var(--accent-color);
}

.social-list_item:not(:last-child) {
  margin-right: 10px;
}

.social-list_icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms linear;
}

.social-list_link:hover .social-list_icon,
.social-list_link:focus .social-list_icon,
.social-footer_link:hover .social-list_icon,
.social-footer_link:focus .social-list_icon {
  fill: var(--first-color);
}

.social-footer_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var --first-color;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms linear;
}

.social-footer_link:hover, .social-footer_link:focus {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 90%;
  min-height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 400ms ease-in-out;
  padding: 40px;
}

@media screen and (max-width: 350px) {
  .modal {
    top: 60%;
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  .modal {
    top: 90%;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(100%, -100%) scale(0.2) rotate(115deg);
}

.modal > b {
  display: block;
  color: #212121;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-field:nth-child(4) {
  margin-bottom: 20px;
}

.form-field:hover {
  cursor: pointer;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  transition: transform 250ms var(--timing-function);
}

.form-label.comment {
  top: 10px;
  left: 16px;
}

.form-label:hover {
  cursor: pointer;
}

.form-comment, .form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-comment:focus, .form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-comment:hover, .form-input:hover, .form-comment:focus, .form-input:focus {
  cursor: pointer;
}

.form-comment {
  display: block;
  height: 120px;
  resize: none;
  padding: 15px 16px;
  transition: border-color 250ms linear;
}

.form-comment::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment:focus + .form-label,
.form-comment:not(:placeholder-shown) + .form-label {
  transform: translate(-16px, -27px);
}

.form-input {
  height: 40px;
  padding: 12px 42px;
  transition: border-color 250ms linear;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-42px, -37px);
}

.form-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms linear;
}

.form-input:focus ~ .form-icon,
.form-input:hover ~ .form-icon,
.form-icon:hover {
  fill: var(--accent-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-policy-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
}

.form-policy-text:hover {
  cursor: pointer;
}

.form-policy-text > a {
  color: var(--accent-color);
  text-decoration: underline;
}

.form-policy-text::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 6px;
  border: 2px solid var(--second-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-checkbox:checked + .form-policy-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--accent-color);
}

.form-checkbox:focus + .form-policy-text::before {
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--accent-color);
}

.form-btn {
  font-family: var(--main-font);
  min-width: 200px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  letter-spacing: 0.06em;
  border: transparent;
  cursor: pointer;
  padding: 10px 32px;
  color: var(--first-color);
  background-color: var(--accent-color);
  margin: 30px auto 0;
}

.form-btn:hover, .form-btn:focus {
  background-color: var(--accent-color);
  color: var(--first-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.close-btn,
.modal {
  background-color: var(--first-color);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close {
  width: 11px;
  height: 11px;
  fill: #000000;
  transition: fill 250ms linear;
}

.close-btn:hover .close,
.close-btn:focus .close {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
  > b {
    font-size: 20px;
    line-height: 1.15;
  }
  .form-policy-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
  }
  .form-policy-text::before {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
}

.header .container {
  padding: 0 15px;
  margin: 0 auto;
}

.menu-container {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .menu-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--first-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .menu-container.is-open {
    display: block;
  }
}

.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn .icon-cross {
  display: none;
}

.menu-btn.is-open .icon-cross {
  display: block;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

.site-nav .a,
.contacts-nav .a {
  display: inline-flex;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.current {
  position: relative;
}

.link.current::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover, .site-nav .link:focus, .site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--second-color);
}

.contacts-nav .link:hover, .contacts-nav .link:focus {
  color: var(--accent-color);
}

.contacts-nav .link,
.site-nav .link {
  transition: color 250ms linear;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-contact {
  align-items: center;
}

.mail-icon, .tel-icon {
  width: 14px;
  height: 10px;
  fill: currentColor;
  margin-right: 10px;
}

.tel-icon {
  width: 10px;
  height: 14px;
}

@media screen and (max-width: 767px) {
  .navigation {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .site-nav {
    margin-bottom: 65px;
  }
  .site-nav .item:not(:last-child) {
    margin-bottom: 44px;
  }
  .contacts-nav .item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
  }
  .site-nav a {
    display: block;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts-nav a {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.167;
    padding: 5px 0;
  }
  .link.current::after {
    bottom: -1px;
  }
  .site-nav {
    display: flex;
    margin-left: 88px;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }
  .contacts-nav {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
  }
  .contacts-nav a {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
  }
  .contacts-nav a {
    padding: 32px 0;
  }
  .site-nav {
    margin-left: 93px;
  }
  .contacts-nav {
    display: flex;
    align-items: center;
  }
  .contacts-nav .item + .item {
    margin-left: 30px;
  }
  .mail-icon, .tel-icon {
    width: 16px;
    height: 12px;
  }
  .tel-icon {
    width: 10px;
    height: 16px;
  }
}

.hero {
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 30px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-2x.jpg");
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 480px 400px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_tablet-1x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_tablet-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 100px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_desk-1x.jpg");
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_desk-2x.jpg");
  }
}

.modal-btn {
  font-family: var(--main-font);
  min-width: 200px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  letter-spacing: 0.06em;
  border: transparent;
  cursor: pointer;
  padding: 10px 32px;
  color: var(--first-color);
  background-color: var(--accent-color);
}

.icon {
  display: inline-flex;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  width: 450px;
  height: 120px;
  align-items: center;
  background-repeat: no-repeat;
  justify-content: center;
  background-color: #F5F4FA;
}

.features {
  padding: 60px 0;
}

.features-subtitle {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features-subtitle-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .icon {
    width: 450px;
  }
  .features-subtitle {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .features-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features-title-item,
  .features-title .icon {
    width: 354px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .features-title-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features-title-item,
  .features .icon {
    width: 270px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.title {
  position: relative;
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.about {
  padding-bottom: 94px;
}

.about-list {
  display: flex;
}

.about-list-item {
  position: relative;
  bottom: 0;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-text {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  padding: 27px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.team-name {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-name-desc {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team-list {
  margin-bottom: 30px;
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-bottom: 30px;
}

.team-content {
  padding: 30px 32px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list-item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-list-item {
    text-align: center;
    padding: 0;
    width: 270px;
    background-color: var(--first-color);
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-icon {
  display: flex;
  width: 210px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: #AFB1B8;
  margin-bottom: 30px;
  transition: all 250ms linear;
}

.clients-icon:hover, .clients-icon:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients-item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-icon {
    width: 226px;
  }
  .clients-list {
    flex-basis: calc 33.33333%-var(--card-set);
    margin-top: -30px;
    margin-left: -30px;
  }
  .clients-item {
    margin-top: var(--card-set);
    margin-left: var(--card-set);
  }
}

@media screen and (min-width: 1200px) {
  .clients-icon {
    width: 170px;
  }
  .clients-item:not(:last-child) {
    margin-right: var(--card-set);
  }
}

.clients-icon_logo {
  fill: #AFB1B8;
  transition: fill 250ms linear;
}

.clients-icon:hover .clients-icon_logo,
.clients-icon:focus .clients-icon_logo {
  fill: var(--accent-color);
}

.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.address-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  color: var(--first-color);
}

.contact-list {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms linear;
}

.footer-link-slogan,
.footer-subscrib {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 20px;
}

.social-form {
  position: relative;
}

.social-form-item-text {
  width: 450px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
}

.social-form-item-text::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.social-form-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--first-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}

.icon-send {
  display: flex;
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    text-align: center;
    justify-content: center;
    width: 450px;
    height: 156px;
    margin-top: 60px;
  }
  .social-form-btn {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    text-align: center;
  }
  -address {
    bottom: 0;
    justify-content: center;
    text-align: center;
  }
  .footer-link {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .thumb {
    display: flex;
    justify-content: space-around;
  }
  .footer-address {
    width: 232px;
    justify-content: center;
    text-align: center;
  }
  .footer-form {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: initial;
    margin: auto;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .footer-link {
    margin-left: 70px;
    margin-top: 12px;
  }
  .thumb {
    display: flex;
    justify-content: space-around;
    margin-right: 93px;
  }
  .address-text,
  .contact-list {
    margin-bottom: 9px;
  }
  .social-form {
    display: flex;
    width: 570px;
    height: 86px;
  }
  .social-form-item-text {
    width: 358px;
  }
}
/*# sourceMappingURL=main.css.map */