:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --card-set: 30px;
  --accent-color: #2196F3;
  --first-color: #ffffff;
  --second-color: #757575;
}

body {
  color: #212121;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto-regular.woff) format("woff"), url(../fonts/roboto-regular.woff2) format("woff2");
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-accent {
  color: var(--accent-color);
}

.footer-logo {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--first-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
  .footer-logo {
    font-size: 26px;
    line-height: 1.192;
    color: var(--first-color);
  }
}

.menu-list-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms linear;
}

.menu-list-link:hover, .menu-list-link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .menu-list-link {
    font-size: 18px;
    line-height: 1.167;
  }
}

.current {
  color: var(--accent-color);
}

.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus {
  color: var(--accent-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--first-color);
  border-radius: 50%;
  transition: background-color 250ms linear;
}

.social-list_link:hover, .social-list_link:focus {
  background-color: var(--accent-color);
}

.social-list_item:not(:last-child) {
  margin-right: 10px;
}

.social-list_icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms linear;
}

.social-list_link:hover .social-list_icon,
.social-list_link:focus .social-list_icon,
.social-footer_link:hover .social-list_icon,
.social-footer_link:focus .social-list_icon {
  fill: var(--first-color);
}

.social-footer_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var --first-color;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms linear;
}

.social-footer_link:hover, .social-footer_link:focus {
  background-color: var(--accent-color);
}

.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  color: #212121;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms linear, color 250ms linear, box-shadow 250ms linear;
}

.filter-btn:hover, .filter-btn:focus {
  color: var(--first-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.items {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
  margin-bottom: 40px;
  margin-left: -8px;
}

.items > .filter-item {
  margin-left: 8px;
}

@media screen and (max-width: 391px) {
  .items {
    height: 144px;
  }
}

@media screen and (min-width: 392px) and (max-width: 767px) {
  .items {
    height: 91px;
  }
}

@media screen and (min-width: 768px) {
  .items {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .items {
    margin-bottom: 50px;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
}

.header .container {
  padding: 0 15px;
  margin: 0 auto;
}

.menu-container {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .menu-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--first-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .menu-container.is-open {
    display: block;
  }
}

.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn .icon-cross {
  display: none;
}

.menu-btn.is-open .icon-cross {
  display: block;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

.site-nav .a,
.contacts-nav .a {
  display: inline-flex;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.current {
  position: relative;
}

.link.current::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover, .site-nav .link:focus, .site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--second-color);
}

.contacts-nav .link:hover, .contacts-nav .link:focus {
  color: var(--accent-color);
}

.contacts-nav .link,
.site-nav .link {
  transition: color 250ms linear;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-contact {
  align-items: center;
}

.mail-icon, .tel-icon {
  width: 14px;
  height: 10px;
  fill: currentColor;
  margin-right: 10px;
}

.tel-icon {
  width: 10px;
  height: 14px;
}

@media screen and (max-width: 767px) {
  .navigation {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .site-nav {
    margin-bottom: 65px;
  }
  .site-nav .item:not(:last-child) {
    margin-bottom: 44px;
  }
  .contacts-nav .item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
  }
  .site-nav a {
    display: block;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts-nav a {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.167;
    padding: 5px 0;
  }
  .link.current::after {
    bottom: -1px;
  }
  .site-nav {
    display: flex;
    margin-left: 88px;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }
  .contacts-nav {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
  }
  .contacts-nav a {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
  }
  .contacts-nav a {
    padding: 32px 0;
  }
  .site-nav {
    margin-left: 93px;
  }
  .contacts-nav {
    display: flex;
    align-items: center;
  }
  .contacts-nav .item + .item {
    margin-left: 30px;
  }
  .mail-icon, .tel-icon {
    width: 16px;
    height: 12px;
  }
  .tel-icon {
    width: 10px;
    height: 16px;
  }
}

.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.address-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  color: var(--first-color);
}

.contact-list {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms linear;
}

.footer-link-slogan,
.footer-subscrib {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 20px;
}

.social-form {
  position: relative;
}

.social-form-item-text {
  width: 450px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
}

.social-form-item-text::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.social-form-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--first-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}

.icon-send {
  display: flex;
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    text-align: center;
    justify-content: center;
    width: 450px;
    height: 156px;
    margin-top: 60px;
  }
  .social-form-btn {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    text-align: center;
  }
  -address {
    bottom: 0;
    justify-content: center;
    text-align: center;
  }
  .footer-link {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .thumb {
    display: flex;
    justify-content: space-around;
  }
  .footer-address {
    width: 232px;
    justify-content: center;
    text-align: center;
  }
  .footer-form {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: initial;
    margin: auto;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .footer-link {
    margin-left: 70px;
    margin-top: 12px;
  }
  .thumb {
    display: flex;
    justify-content: space-around;
    margin-right: 93px;
  }
  .address-text,
  .contact-list {
    margin-bottom: 9px;
  }
  .social-form {
    display: flex;
    width: 570px;
    height: 86px;
  }
  .social-form-item-text {
    width: 358px;
  }
}

.projects {
  margin: 60px 0;
}

@media screen and (min-width: 1200px) {
  .projects {
    margin: 94px 0;
  }
}

.projects-list {
  display: block;
}

.projects-card {
  display: block;
  transition: box-shadow 250ms linear;
}

.projects-card:hover, .projects-card:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--first-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: transform 250ms linear,opacity 250ms linear;
  transform: translateY(100%);
}

.projects-card:hover .overlay,
.projects-card:focus .overlay {
  opacity: 1;
  transform: translateY(0);
}

.card {
  padding: 20px 24px;
  background: var(--first-color);
  border: 1px solid #EEEEEE;
}

.project-title {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-text {
  margin-top: 4px;
  margin-bottom: 0;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

@media screen and (max-width: 767px) {
  .projects-list:not(:last-child) {
    margin-bottom: var(--card-set);
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set));
    margin-top: calc(-1 * var(--card-set));
  }
  .projects-list {
    flex-basis: calc(100% / 2 - var(--card-set));
    margin-left: var(--card-set);
    margin-top: var(--card-set);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-list:nth-child(1) .card {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list {
    flex-basis: calc(100% / 3 - var(--card-set));
  }
}
/*# sourceMappingURL=portfolio.css.map */