.title {
    position: relative;
    margin-bottom: 50px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.about {
    padding-bottom: 94px;

    &-list {
        display: flex;
    
        &-item {
            position: relative;
            bottom: 0;

            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}

.about-text {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;

    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.142;
    padding: 27px;
    
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--first-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
    );
}


