.icon {
  display: inline-flex;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  width: 450px;
  height: 120px;
  align-items: center;
  background-repeat: no-repeat;
  justify-content: center;
  background-color: #F5F4FA;
}

.features {
  padding: 60px 0;

  &-title-item:not(:last-child) {
    margin-bottom: 30px;
  }

  &-subtitle {
    margin-bottom: 10px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

      &-text {
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: var(--second-color);
      }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .icon {
    width: 450px;
  }

  .features-subtitle {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .features-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    &-item,
    .icon {
      width: 354px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;

    &-title-item,
    .icon {
      width: 270px;
    }
  }
}