.footer {
    padding: 60px 0px;
    background-color: #2F303A;

    &-container {
        display: flex;
        width: 1200px;
        height: 130px;
        padding: 0px 15px;
        margin: auto;
    }

    &-address {
        margin: 0;
        bottom: 0;
        margin-right: 70px;
        width: 231px;
        align-items: baseline;
    }

    &-link {
        width: 206px;
        margin-right: 95px;
        
        &-slogan {
            font-family: var(--main-font);
            font-weight: 700;
            font-size: 14px;
            line-height: 1.142;
            letter-spacing: 0.03em;
            color: var(--first-color);

            margin-bottom: 20px;
            padding: 10px 0px;
        }
    }
}

.footer .address {
    margin-top: 20px;
}

.address-text {
    margin-bottom: 9px;
    padding-top: 9px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--first-color);
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.contact-list {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form { 
    display: block;
}

.footer-subscrib {
    display: flex;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    color: var(--first-color);

    padding: 10px 0px;
    margin-bottom: 20px;
}

.social-form {
    display: flex;
    width: 570px;
    height: 86px;

    &-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 28px;
        width: 200px;
        height: 50px;
        margin: 0 auto;
        background-color: var(--accent-color);
        border: 1px solid var(--accent-color);
        border-radius: 4px;
        letter-spacing: 0.06em;
        cursor: pointer;

        color: var(--first-color);

        font-family: var(--main-font);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
    }

    &-item-text {
        width: 358px;
        height: 50px;
        padding: 15px;
        margin-right: 12px;

        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: #2F303A;

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    } 
}

.icon-send {
    display: flex;
    margin-left: 10px;
}