.portfolio-title {
    flex-wrap: wrap;
    padding: 0;

    flex-basis: calc (100% / 3 - var(--card-set));
    margin-top: -30px;
    margin-left: -30px;
}

.projects-list {
    margin-top: var(--card-set);
    margin-left: var(--card-set);

    &-wrapper {
        position: relative;
        overflow: hidden;
    }
}

.card {
    display: block;
    padding: 20px 24px;
    max-width: 370px;
    background: var(--first-color);
    border: 1px solid #EEEEEE;
}

.projects-card:hover,
.projects-card:focus {
    display: block;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-text {
    display: block;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

.project-title {
    margin-bottom: 4px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;

    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--first-color);

    cursor: pointer;
    transition: all 250ms linear;
    transform: translateY(100%);

    .projects-card:hover &,
    .projects-card:focus & {
        transform: translateY(0%);
    }
}